@import 'normalize';
@import 'html5boilerplate';

/*! Generic, Useful for many sites */

/* Flexbox sticky footer
  https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

  Using my top-level tags rather than their classes.
  Also, including MS syntax to try and support IE 9.  But not old webkit classes.

  Not really needed on a long-content page, but still useful to have in place.
*/

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

html, body {
  height: 100%; /* 1, 3 */
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

body > header,
body > footer {
  -ms-flex: none;
  flex: none; /* 2 */
}

body > main {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; /* 2 */
}

html {
  box-sizing: border-box;
}

/* Useful for image replacement */
.ir {
  border: 0 !important;
  font: 0/0 a !important;
  text-shadow: none !important;
  color: transparent !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
}

section, .safe-area {
  padding-left:  1rem;           /* Fallback if safe area not understood */
  padding-right: 1rem;
}

/* For iPhone X. Use @supports per https://webkit.org/blog/7929/designing-websites-for-iphone-x/
  iPhone X constants are supported only on browsers that support Max, so only use these within.
*/
@supports(padding:max(0px)) {
  section {
    // use m#{a}x instead of max to allow this to be compiled with Sass
    padding-left: m#{a}x(1rem, constant(safe-area-inset-left));
    padding-right: m#{a}x(1rem, constant(safe-area-inset-right));  /* iOS 11.0, 11.1 … phase out soon */
    padding-left: m#{a}x(1rem, env(safe-area-inset-left));
    padding-right: m#{a}x(1rem, env(safe-area-inset-right));       /* iOS 11.2 beta and up */
  }
  .safe-area-only {
    padding-left:  constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);  /* iOS 11.0, 11.1 … phase out soon */
    padding-left:  env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);       /* iOS 11.2 beta and up */
  }
}










/* ===== General ===== */

body, .text {
  font-family: 'Noticia Text', serif;
  text-align:center;
}

h1, h2, h3, h4, h5, h6, .header {
  font-family: 'Enriqueta', serif;
}

.browserupgrade { /* Improve the formatting a bit without messing with original */
  font-size:150%;
  padding:1rem;
}

/* ===== Colors ===== */

a { color:green; }

main {
  background:rgb(229, 240, 241);
}

next-to-side-photo {
  padding:1rem 0;
}

/* Debugging
section:nth-child(even) {background: cyan !important;}
section:nth-child(odd)  {background: pink !important;}
section header { background:red;}
section article { background:yellow;}
section footer { background:green;}
*/

article {
    margin:0 auto;
    padding:2rem 2rem;  /* if we use margin above then it messes with background image */
    max-width:40rem;
    @extend .clearfix;
}
article.wide {
  max-width:900px;
  padding:0;
}

h1 {
  padding:1em;
  margin:0 auto;
}

img.rounded {
  border-radius:50%;
  margin:0 auto;
  max-width:100%;
}

.hero {
  color:white;
}

.top {
  background:white;
  font-weight:normal;
}

.logo {
  display:inline-block;
}

a.tel:before {
  content:'☎ ';
}

/* ====== Specific Sections ===== */



.hero {
    width:100%;
    height:0;
    padding-bottom:36%; /* overall height of what is visible */
}

.hero img {
    width:100%;
    position:fixed;
    top:10%; left:0;
    z-index:-1;
    filter: brightness(75%);
}

// Footer

.social svg {
  width:32px;
  padding:16px;
}

body > footer {
    background:#bdbdbd;
    color:white;

  p {
      padding:20px 5%;
      margin:0;
  }

  a {
    color:white;
    text-decoration:none;
  }
}

// Header

menu {
  background:#222;
  margin:0;
  padding:0.5em;

  a {
    text-decoration:none;
    color:white;
    padding:0.5em 1.2em;
    display:inline-block;
  }

  a.active {
    cursor:pointer;
    text-decoration:none;
    pointer-events: none;
    opacity:0.5;
  }

  svg {
    width:1.5em;
  }
}

// Services

.category {
  @extend .header;
  font-size:2em;
  font-weight:normal;
}
.title {
  @extend .text;
  font-size:1.5em;
}
.time, .price {
  display:inline-block;
  padding:0 1em;
}
.time {
  border-right:1px solid gray;
}

.description {
  @extend p;
  text-align:left;
}

.service * {
      padding:0.5em;
    }

// Testimonials

p.source {
  font-style:italic;
}

// Gallery

img.thumb {
    object-fit: cover;
    object-position:center;
    width:256px;
    height:256px;
    border:10px solid white;
}

.gallery {
  text-align:left;
}

.lightbox {
  position:fixed;
  width: 100vw;
  height: 100vh;
  top:0;left:0;right:0;bottom:0;
  z-index:1;
  background:rgba(0,0,0,0.5);
}

#lightbox-image {
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);

  max-width:95%;
  max-height:95%;
  z-index:2;
  border:5px solid white;
}





/* ===== BREAKPOINTS … general (under 600 for mobile, 600+ for desktop) and specialized ===== */

@media only screen and (max-width:599px) {

  blockquote {
    margin:0;
  }

img.thumb {
    width:64px;
    height:64px;
}

}

@media only screen and (min-width:600px) {

  .service {
    border:1px solid gray;
    padding:2em;
  }

  .one-third {
    width:33.33%;
    float:left;
    text-align:left;

    .padded {
      padding-right:1em;
    }
  }
  .two-thirds {
    width:66.67%;
    float:left;

    img {
      max-width:50%;
      float:left;
    }
  }
}
