extends layout.pug


block vars
	- var title = 'FAQs'
	- var current = 'FAQs'

block main

	.hero
		article
			img(src="img/faq.jpg" alt="")
			h1 Frequently Asked Questions

	article
		include svg/turtle.svg
		h2 Do you have experience with rare or exotic pets?
		p Yes. I am experienced with many animal species such as birds, farm animals, and exotic pets. Additionally I have taken a ferret handling course.

		include svg/question.svg
		h2 How many dogs can you walk at once?
		p Generally, I walk dogs one-on-one so I can learn about their behaviour and train them to walk better on lead, if necessary. In some circumstances, I will take multiple dogs to an off lead area (if they are equipped with adequate recall skills) such as the beach or a park. However, if you have an aggressive animal or would prefer your dog to be walked alone that can be arranged.

		include svg/car.svg
		h2 My animal needs to go to the vet. Can you take her?
		p Yes. I am able to transport animals to and from grooming or vet appointments (or any other location) for an extra charge. If the animal is somehow injured during their service they will be transported to the vet free of charge.

		include svg/dog.svg
		h2 My dog is aggressive towards other dogs, can you train her to behave?
		p I can certainly help train your dog to get over their fear or aggression. I have done it before, with positive results. If you have any other training needs please contact me and we can figure out a training plan that would best suit your pet. Please see the training section on the <a href="services.html">services</a> page.