extends layout.pug

block append links
	meta(name="google-site-verification" content="7HuP3arN0xZBsZUGvg3K8qf2cnrDVIzuVCEOsIAE7nk")

block vars
	- var title = 'Home'
	- var current = 'Home'

block append header
	.hero
		article
			img(src="img/hero.jpg" alt="Legs and dog")
			h4 Your pet's second best friend...
			h1 Walk Fourward
			p
				| Whether you are on vacation, traveling for business, or it's just another day at the office, we will be there help provide you with your pets needs. The bonus for you is absolute peace of mind knowing that your furry friend is receiving plenty of love, exercise, and training while you’re out.
			p
				| Serving Perth, Western Australia.

block main
	section
		article
			header
				include svg/pup.svg
				h2 Caring for Your Furry Friend
				h3 Keeping You and Your Pets Happy
			p
				| FOURWARD offers unrivaled dog walking and training services. Your animal will get the care you need when you need it. Untrained, and energetic animals are a hassle to live with, but you still love them anyway. With FORWARD pet sitting you know that your pet are in good hands while you are away. Lastly, by choosing FORWARD for dog walking and leash training, your dog will learn to behave better on leash while getting the exercise it needs, making it easier for you to spend quality time with your precious pooch.
			p
				a BOOK ONLINE TODAY!
		article
			header
				img.rounded(src="img/circle1.jpg" alt="two dogs playing on a field")
				h2 Dog Walking &amp; Leash Training
			p
				| Not spending as much time as you’d like to with your pet? Don’t let your busy schedule interfere with your furry friend’s well-being. Give your animal the care and attention they deserve by taking advantage of FOURWARD dog walking and leash training. Your dog will be walked one-on-one and trained to behave better on leash through positive reinforcement techniques. After, both your dog's mind and body will be stimulated creating one tired pup!
		article
			header
				img.rounded(src="img/circle2.jpg" alt="close-up of a cat looking to our right")
				h2 Pet Sitting
			p
				| With FOURWARD you can be assured that your pets will be in good hands. My experience over the years of pet sitting animals anywhere from sheep to puppies has helped me perfect methods and techniques, so you can rest assured that your pet will receive the encouragement and attentiveness they need. As a vet student, your pet will be in knowledgeable and experienced hands. FOURWARD does mainly in home pet sitting with a few exceptions. Contact for more details.

		article
			header
				img.rounded(src="img/circle4.jpg" alt="legs of dog-walker giving a treat to dog on leash")
				h2 Dog Training
			p
				| Whether your dog is aggressive, weak on his recall skills, or just needs some extra obedience work, I can help. Contact now for a free quote.
	section
		article
			header
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3381.1414199818505!2d115.84006205154718!3d-32.06542353506175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32a2b7d8db4817%3A0x53719f1ced56ecc8!2sSouth+St+%26+Murdoch+Dr%2C+Murdoch+WA+6150%2C+Australia!5e0!3m2!1sen!2sus!4v1527087845466" frameborder="0" style="border:0; width:100%; height:450px; max-height:100%;" allowfullscreen></iframe>
				h2 Get In Touch
			p
				| I love animals and have years of experience working with them. You can trust me to provide a safe, comfortable, fun, and healthy environment for your furry friend. Whether it’s taking them for walks, coming by to feed them, or providing at-home care, I’ll watch over your pet as if it were my own.
