extends layout.pug


block vars
	- var title = 'Meet the Team'
	- var current = 'Meet the Team'

block main
	section
		article.wide
			div.one-third
				.padded
					h1 A Little About Myself
					p How I Became a Pet Minder
					p Dog walking and pet sitting has always been a passion of mine. Since I was young I’ve always loved animals — both learning about and taking care of them. I began Walk Fourward in 2017 when I moved to Perth, Australia from San Francisco, California. In California I raised rabbits, dairy goats, chickens, and bees on an urban farm. I now have the opportunity to share my love of animals with my clients and pet owners all around Perth. I hope I get the chance to meet your lovely pet soon.
			div.two-thirds
				img(src="img/m1.jpg")
				img(src="img/m2.jpg")
				img(src="img/m3.jpg")
				img(src="img/m4.jpg")

	article
		h1 Meet the Team!
		p Here to help you with your pet care needs...

		img.rounded(src="img/marisa.jpg")
		h2 Marisa Wood
		p Proprietor
		p Marisa is a current veterinary student and the founder of Walk Fourward. She enjoys making an impact by volunteering, educating, and caring for animals. She also loves cooking and has a passion for veterinary science animal behaviour.


		img.rounded(src="img/ben.jpg")
		h2 Ben Madlener
		p Sub Contractor
		p Ben is a vet student at Murdoch University. He enjoys spending time with his dog as well as playing sports. He loves animals and has much pet experience.

		img.rounded(src="img/lauren.jpg")

		h2 Lauren Dowling
		p Sub Contractor
		p Lauren studies veterinary science at Murdoch University. She has a goofy chocolate lab of her own and loves other animals, especially cats.