extends layout.pug


block vars
	- var title = 'Services'
	- var current = 'Services'

block main
	article
		.service
			.category Dog Walking & Leash Training
			.title 30 Minute Walking and Training
			.time 30 min
			.price $15.00
			.description Dog walking and leash training all in one! Your dog will learn to behave better on leash while getting the exercise it needs. It will come home both mentally and physically stimulated.

			.title 1 Hour Walking and Training
			.time 1 hr
			.price $25.00
			.description A longer session to exercise and teach your dog to behave better on leash. Your dog will come home both mentally and physically stimulated, making for one tired pup!

		.service
			.category Pet Sitting
			.title Dog Boarding
			.time 24 hr
			.price $35.00
			.description Boarding for dogs at my safe and secure home. Extra pet fee is $10 per dog. Dogs will get 2 walks daily along with feedings and daily playtimes.

			.title Cat Boarding
			.time 24hr
			.price $30.00
			.description Boarding for cats at my safe and secure home. Extra pet fee is $10 per cat/day. Cats will get daily feedings and playtimes.

			.title House Sitting
			.time 24hr
			.price $30.00
			.description Your pet(s) will be cared for in the comfort of your home and you will be rest assured that your home will be cared for while you are away. Overnight stay includes walks, potty breaks, feedings, and playtime. Additional pet fee $10 per pet/day. Small pets and fish will be minded as well as any plants that need watering.
		.service
			.category Doggy Day Care
			.time 4 hr
			.price $45.00
			.description Your pup will be taken care of for the day or even just few hours. Includes one visit (or outing with me) with a playtime, walk, and an afternoon feeding (if required).
		.service
			.category Dog Training
			.time 1hr
			.price $50.00
			.description Whether you have a puppy that needs a little bit of training help, or an aggressive dog, we can help with your training needs. Contact to get a free training quote.

