extends layout.pug


block vars
	- var title = 'Services'
	- var current = 'Services'

block main



	.category Dog Walking & Leash Training
		.title
		.time
		.price
		.description

		.title
		.time
		.price
		.description


	.category Pet Sitting
		.title
		.time
		.price
		.description




	.category Socialization
		.title
		.time
		.price
		.description




	.category Doggy Day Care
		.title
		.time
		.price
		.description




	.category Dog Training		.title
		.time
		.price
		.description

