extends layout.pug


block vars
	- var title = 'Testimonials'
	- var current = 'Testimonials'

block main
	article
		h1 Satisfied Customers

		section
			include svg/quote.svg

			blockquote "Great to come home to a happy pup after being at work all day! Marisa is already improving my pups walking skills!"
			p.source A.M.

		section
			include svg/quote.svg

			blockquote "We felt very comfortable knowing that he was in safe hands and well taken care of especially knowing that you’re a vet student who loves animals... It was so nice to see him happy in your hands [and] it was great to see that he was eating well. In the past and with other sitters, he tends to lose his appetite when we’re gone but not with you and this gives us great comfort. I’m sure we will use your services again on our next trip."
			p.source S.R.

		section
			include svg/quote.svg

			blockquote "Our little girl staffy [was] only 3 months old. As I needed to be away from work, we were looking to have someone capable of looking out for a puppy that small. Rose needed feeding, napping, and some quality interacting for a few hours per day. Marisa is such a gorgeous girl. We can't believe we have been so lucky to find someone that has such a love and understanding of dogs, and in particular puppies.

			blockquote Marisa is responsible, reliable, caring and calm. She had tips for us and helping to continue socialize Rose which are handy-as we are new to owning it pup! We will definitely look to have Marisa back anytime we need to have Rose cared for."
			p.source E.H.